BIND_HOST=127.0.0.1
PORT=3200
APP_ROOT=../ores-ror.rb
GRAAL_MANIFEST_PATH=../ores-ror.rb/generated/graal/manifest.json
ISOLATION_GRANULARITY=route
DATA_API_URL=http://127.0.0.1:8787/v1
DATA_API_TOKEN=
CONTEXT_ADMISSION_LIMIT=5
CONTEXT_MAX_AGE_SECONDS=1800
CONTEXT_IDLE_SECONDS=300
CONTEXT_DRAIN_SECONDS=30
REQUEST_TIMEOUT_SECONDS=15
EXPOSE_GRAAL_DIAGNOSTICS=false
